.modalWindow {
    position: fixed;
    height: 100%;
    background-color: darkgray;
    display: flex;
    width: 100%;
    top: 0;
    .detailedSnippetWrapper {
        display: flex;
        margin: 0 auto;
        background-color: cornsilk;
        border: 1px solid black;
        margin-top: 10%;
        height: 70%;
        width: 80%;
    }
    img {
        height: 200px;
        width: 25%;
        padding-right: 20px;
    }
    h1 {
        font-size: 15pt;
        padding-right: 20px;
    }
    p {
        padding-right: 20px;
    }
    button {
        position: absolute;
        right: 15px;
        top: 10px;
    }
}
