.searchInput {
    width: 70%;
    height: 600px;
    background-color: burlywood;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 110px;
    .searchBlock {
        display: flex;
        width: 95%;
        margin: 0 auto;
        input {
            width: 95%;
            height: 25px;
            background-color: aquamarine;
            border: 1px solid black;
            margin-top: 15px;
        }
        button {
            height: 29px;
            margin-top: 15px;
            letter-spacing: 0.3em;
            font-size: 11pt;
            transition: 0.2s ease-in-out;
            cursor: pointer;
        }
        button:hover {
            background-color: darkseagreen;
        }
    }
}
