.searchInput {
    width: 70%;
    height: 600px;
    background-color: rgb(247, 209, 185);
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 110px;
    overflow: scroll;
    overflow-x: unset;
    padding-bottom: 20px;
    .searchBlock {
        display: flex;
        margin: 0 auto;
        width: 100%;
        position: relative;
        input {
            width: 70%;
            height: 15px;
            border: unset;
            color: black;
            padding: 5px 40px;
            margin-top: 12px;
            margin-left: 2.5%;
            padding-left: 10px;
            padding-right: 6%;
        }
        button {
            height: 25px;
            margin-top: 12px;
            letter-spacing: 0.3em;
            cursor: pointer;
            border: unset;
            position: absolute;
            right: 3%;
            width: 15%;
            background-color: #354e39;
            color: white;
        }
        button:hover {
            background-color: rgb(190, 145, 116);
            color: black;
            border: unset;
        }
    }
}

input[type="text"]::-webkit-input-placeholder {
    color: rgba(153, 147, 147, 0.685);
}

input:focus,
input:active {
    outline: none;
}

.searchInput::-webkit-scrollbar {
    width: 15px;
    background-color: #184612;
}

.searchInput::-webkit-scrollbar-thumb {
    background-color: rgb(247, 209, 185);
    box-shadow: inset 1px 1px 1px black;
}

.show {
    display: block;
    height: 70%;
    background-color: gray;
    width: 70%;
    position: absolute;
    z-index: 1;
    opacity: 0.6;
}

.hide {
    display: none;
}
